.div{
	background-color:black;
	height:40px;
	width:70px;
	margin-left:630px;
	margin-top:25px;
	color:white;
	text-align:center;
}
.a {
background-color:#F5F5F5;
height:250px;
width:550px;
margin-left:400px;
margin-top:150px;
}
.b {
	background-color:#FFD700;
	height:100px;
	width:100px;
	margin-left:415px;
    margin-top:-238px;
}
.c {
	background-color:#FFD700;
	height:100px;
	width:100px;
	margin-left:550px;
    margin-top:-100px;
}
.d {
	background-color:#FFD700;
	height:100px;
	width:100px;
	margin-left:689px;
    margin-top:-100px;

}
.e {
	background-color:#FFD700;
	height:100px;
	width:100px;
	margin-left:834px;
    margin-top:-100px;

}
.f {
	background-color:#FFD700;
	height:100px;
	width:100px;
	margin-left:415px;
    margin-top:28px;
}
.g {
	background-color:#FFD700;
	height:100px;
	width:100px;
	margin-left:550px;
    margin-top:-100px;
}
.h {
	background-color:#FFD700;
	height:100px;
	width:100px;
	margin-left:689px;
    margin-top:-100px;

}
.i {
	background-color:#FFD700;
	height:100px;
	width:100px;
	margin-left:834px;
    margin-top:-100px;

}